.chat {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    box-shadow: 0 0 10px 9px rgb(47, 33, 56)
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .chat {
        flex-direction: column;
    }
}

@media screen and (max-width: 374px) {
    .chat {
        flex-direction: column;
    }
}