html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E182B;
    width: 100%;
    height: 100vh;
}

.chat {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #FFF;
    box-shadow: 0px 0px 10px 9px rgb(47 33 56)
}

.chat-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    background-color: #30293f;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

.chat-info__room {
    margin: 0;
    font-weight: 700;
}

.chat-info__room-code {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.chat-info__online {
    margin: 10px 0 0 0;
    font-weight: 700;
}

.chat-info__users {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.chat-info__user {
    margin: 10px 0 0 0;
    padding: 7px;
    border-radius: 10px;
    background-color: #FFF;
    color: black;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chat-info__user {
    min-width: 40px;
    background-color: rgb(54, 103, 167);
    color: #FFF;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: #30293f;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    width: 12px;
    color: #7160ff;
}

.messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(51, 41, 58, 0.7);
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.671);
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-self: flex-start;
    padding: 10px;
    border-radius: 10px;
}

.message_my-message {
    align-self: flex-end;
}

.message__text {
    margin: 0;
    background-color: rgb(54, 103, 167);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
}

.message__info {
    font-size: 13px;
}

.chat-form {
    width: 100%;
    height: 20vh;
    background-color: #30293f;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.chat-form__field {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    resize: none;
    background-color: #30293f;
    outline: none;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    transition: box-shadow .3s ease-in;
}

.chat-form__field:focus {
    box-shadow: 0px 0px 10px 9px rgb(87, 61, 104);
}

.chat-form__field::-webkit-scrollbar {
    width: 12px;
    color: #7160ff;
}

.chat-form__field::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(51, 41, 58, 0.7);
    border-radius: 10px;
}

.chat-form__field::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.671);
}

.chat-form__btn {
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(54, 103, 167);
    color: #FFF;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease-in;
}

.chat-form__btn:hover {
    background-color: rgb(40, 74, 119);
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .chat-info__room {
        display: none;
    }

    .chat-info__room-code {
        display: none;
    }

    .chat {
        flex-direction: column;
    }

    .chat-info {
        width: 100%;
        flex-direction: row;
        box-sizing: border-box;
        height: 15vh;
        padding: 0;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .chat-info__online {
        display: flex;
        margin: 0 0 0 10px;
        min-width: 100px;
    }

    .chat-info__users {
        display: flex;
    }

    .chat-info__user {
        margin: 0 0 0 10px;
        font-size: 15px;
        padding: 5px;
    }

    .chat-info__user:first-of-type {
        margin: 0;
    }

    .chat-messages {
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0;
        height: 85vh;
    }

    .messages {
        height: 65vh;
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .chat-info__room {
        display: none;
    }

    .chat-info__room-code {
        display: none;
    }

    .chat {
        flex-direction: column;
    }

    .chat-info {
        width: 100%;
        flex-direction: row;
        box-sizing: border-box;
        height: 15vh;
        padding: 0;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .chat-info__online {
        display: flex;
        margin: 0 0 0 10px;
        min-width: 85px;
        font-size: 15px;
    }

    .chat-info__users {
        display: flex;
    }

    .chat-info__user {
        margin: 0 0 0 5px;
        font-size: 13px;
        padding: 5px;
    }

    .chat-info__user:first-of-type {
        margin: 0;
    }

    .chat-messages {
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0;
        height: 85vh;
    }

    .messages {
        height: 60vh;
        width: 100%;
    }

    .chat-form__field {
        font-size: 13px;
    }

    .chat-form__field:focus {
        box-shadow: 0px 0px 5px 4px rgb(87, 61, 104);
    }

    .message__text {
        font-size: 13px;
    }

    .message__info {
        font-size: 10px;
    }

    .chat-form__btn {
        font-size: 13px;
    }
}