.container {
    display: flex;
    flex-direction: column;
    font-family: Roboto Slab, Tahoma, sans-serif;
    max-width: 40%;
    margin: 100px auto;
    min-width: 720px;
}

.join-block {
    margin: 0 auto;
    width: 300px;
}

.join-block input {
    font-size: 24px;
    width: 100%;
    height: 50px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.join-block button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.chat {
    display: flex;
    height: 500px;
    border: 1px solid rgba(159, 183, 197, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.chat-users {
    border-right: 1px solid rgba(159, 183, 197, 0.1);
    padding: 20px;
    width: 200px;
    background-color: #f6f9fa;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
}

.messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 155px);
    overflow: auto;
}

.messages::-webkit-scrollbar {
    width: 12px;
    color: #7160ff;
}

.messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(113,96,255,0.3);
    border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.message {
    margin-bottom: 20px;
    align-self: flex-end;
}

.message_my-msg {
    align-self: flex-start;
}

.message p {
    display: inline-flex;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #7160ff;
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;
}

.message span {
    opacity: 0.5;
    font-size: 14px;
}

.chat-users ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-users ul li {
    margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;
    padding: 8px 14px;
    box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
    font-weight: 500;
}

.chat-messages form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-messages form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.form-control {
    outline: none;
    border:1px solid #f6f9fa;
    box-shadow: 0 0 4px #719ECE;
    resize: none;
}

.btn {
    font-family: Roboto Slab, Tahoma, sans-serif;
    font-size: 15px;
}

.video__video-call-img {
    width: 20px;
    text-align: center;
}

.video {
    margin: 0 auto;
    width: 640px;
    height: 240px;
    background-color: #f5f0f0;
}

.video__output {
    width: 320px;
    height: 240px;
}

.video__input {
    width: 320px;
    height: 240px;
}

