.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .chat-messages {
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0;
        height: 80vh;
    }
}

@media screen and (max-width: 374px) {
    .chat-messages {
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0;
        height: 85vh;
    }
}