html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E182B;
    width: 100%;
    height: 100vh;
}